#section-input {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.divInput {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#word-list {
  list-style-type: none;
  padding-left: 0;
}
#word-list li {
  font-size: 1.1em;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
#word-list li span {
  margin-right: 10px;
}
#word-list li button {
  background: none;
  border: 1px solid #ff0000;
  color: #ff0000;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  padding: 2px 6px;
}

#automata-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#tx-word-to-valide {
  text-transform: lowercase;
}

#tx-word-to-valide.valid {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

#tx-word-to-valide.invalid {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

#table-automata tbody tr.active-state {
  background-color: #fcf8e3;
  font-weight: bold;
}

table {
  text-align: center;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  margin: 0px;
  width: 25px;
}
